.clfwrapper{
      width: 80%;
      margin: 50px auto;
      background-color: white;      
      border: 1px solid grey;
      border-radius: 5px;
      text-align: center;
}

.clfwrapper h1 {
    color: steelblue;
    margin: 20px auto;
    width: 80%;
    
}

.todolist{
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    font-size: 16px;
}

.todolist .add{
    margin: 25px auto;
}

.todolist .todoitemwrapper{
    margin: 20px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    min-height: 100px;
}


.todolist .todoitemwrapper .desc{
    display: inline-block;
    float: left;
}

.todolist .todoitemwrapper .actions{
    display: inline-block;
    float: right;
}

.edittodo {
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    font-size: 16px;
}

.edittodo h4 {
    font-style: italic;
    color: lightskyblue
}

.edittodo .todocontainer {
    margin: 20px;
}

.edittodo .back{
    margin: 20px;
}
